.input-field-wrapper {
  margin-top: 2rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.input-field-wrapper > input {
  width: 80%;
  padding: 0.2rem;
  font-size: 1rem;
  padding-left: 1rem;
}

.input-field-wrapper > button {
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #00b300;
  color: white;
  font-weight: 500;
  cursor: pointer;
  margin-left: 1rem;
}

.customer-list {
  width: 90%;
  height: 60%;
  margin-top: 2rem;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.list-items {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}

.list-items > li {
  width: 70%;
  list-style: none;
}

.customer-list > ul > .list-items > button {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #c00;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.customer-list > ul > .list-items button:nth-child(2) {
  background-color: #0088cc;
}

.delete-loc {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.delete-loc > button {
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #00b300;
  color: white;
  font-weight: 500;
  cursor: pointer;
  margin-left: 1rem;
}

.delete-loc > button:disabled {
  background-color: #00b300c7;
  cursor: not-allowed;
}
